<div class="Fondo">

    <header>
        <app-navbar></app-navbar>

    </header>





    <main>


        <section class="container at-5 text-center">
            <br>
            <br>

            <h2 class="Title">Obras</h2>
            <div class="Botones">
                <button class="Mas" routerLink="/crear">+</button>
        
                <button class="Obras" routerLink="/crear">Crear una obra</button>
            </div>
        
            <br>
            <div class="ObrasTarjeta">
                <app-tarjeta-producto></app-tarjeta-producto>
            </div>
        </section>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </main>




    <footer>
        <app-footer></app-footer>
    </footer>
</div>