<!-- 

<ol>
  <li class="lista">Elemento1</li>
  <li>Elemento2</li>
  <li>Elemento3</li>
  <li>Elemento4</li>
  <li>Elemento5</li>
</ol>  -->

<!-- <nav>
  <a></a>
  <ol class="lista">
    <li class="lista"><a routerLink="/">Inicio</a></li>
    <li><a routerLink="/productos">Productos</a></li>
    <li><a routerLink="/inicioSesion">Iniciar sesión</a></li>
    <li><a routerLink="/registroUsuarios">Registrarse</a></li>
    <li><a routerLink="/admin">Panel de administración</a></li>
  </ol> 
</nav> -->



<!-- responsable de que front tenga rutas -->
 <!-- permite que las rutas funcionen ymuestren contenido -->

 <router-outlet></router-outlet>