<div class="Fondo">


    <header>

        <!-- Logo de arriba we -->


        <!-- Navegador -->

        <app-navbar></app-navbar>

        <!-- Fin de navegador -->

        <!-- baner -->
<img class="Baner" src="/assets/Baner.png" alt="">

    </header>


    <main>

        <section class="firstSection">
            <article class="container">
                <p>¡Únete a la comunidad de soñadores! Nuestra fan page es el primer hogar digital para los amantes de
                    “El Principito” Aquí encontrarás un universo de ilustraciones creadas por fans como tú, y podrás
                    compartir tus propias obras de arte inspiradas en esta maravillosa historia. ¡Despierta tu
                    creatividad y conecta con otros apasionados del Principito!
                </p>
                    <img class="imagen" src="/assets/image 1.png" alt="">
            </article>

        </section>

        <figure class="Conteiner-Baner">
            <a class="btn" routerLink="/obras">CONOCER MÁS</a>

        </figure>
        
    </main>

<footer>
    <app-footer></app-footer>
</footer>
</div>

