<div class="Fondito">
<header class="fondo">

    <div>
        <h2 class="Title">Little Prince Land</h2>
        </div>

        <!-- esto deberia ir en el css -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">


    </header>

    <main>
          
        <form [formGroup]="ObrasFormulario" (ngSubmit)="handleSubmit()">
            <section class="Star">
                <article class="container">
                    <br>
                    <h3 class="titulos">Imagen:</h3>
                
                        <div class="input-field">
                    <i class="fa-solid fa-lock"></i>
                    <input class="Principe" type="text" name="image" formControlName="image" placeholder="Es necesaria una URL de una imagen">
                    <br>
                    <br>
                    <h3>Nombre</h3>
                    <div class="input-field">
                        <i class="fa-solid fa-user"></i>
                        <input class="Zorro" type="text" name="name" formControlName="name" placeholder="Inserte un Nombre.">
                    </div>
                    <br>
                    <h3>Descripcion:</h3>
                    <div class="input-field">
                        <i class="fa-solid fa-user"></i>
                        <input class="Rosa" type="text" name="description" formControlName="description" placeholder="Descripción de la imagen.">
                    </div>
                    <br>
                    <h3>Tecnica:</h3>
                    <div class="input-field">
                        <i class="fa-solid fa-user"></i>
                        <input class="Rosa" type="text" name="technique" formControlName="technique" placeholder="Aclare la técnica usada.">
                    </div>
                    <br>
                    <h3>Categoria:</h3>
                    <div class="input-field">
                        <i class="fa-solid fa-user"></i>
                        <input class="Zorro" type="text" name="category" formControlName="category" placeholder="Usa una Categoria.">
                    </div>
                    <br>
                    
          
                </div>

            </article>
            </section>
            <br>
            
            <figure>
                <a class="btn" routerLink="/">CANCELAR </a>
                <a class="botoncito" type="submit" routerLink="/obras">PUBLICAR </a>
            </figure>

        </form>
    </main>

    <Footer>
<app-footer></app-footer>
</Footer>
</div>