<footer>
    <section class="pie-de-pagina">
        <article class="descripcion-foot">
            <p> Bienvenidos Fans de “el principito” a la fan page de la novela.</p>
            <br>
            <p> la mayoria de las imagenes son de mi autoria, pero la histotia original pertenece a Antoine de Saint-Exupéry.
            </p>
            <br>
            <p style="color: #568AB9;"> BIT Bootcamp Desarrollo web 202407 | Todos los derechos reservados | ©2024
            </p>
        </article>

        <!-- Enlaces a redes Sociales -->
        <section class="contenedorFT2">
            <p class="textoft2"> Puedes contactarnos y ver más acerca de esta página en: </p>
            <figure class="logosContacto">
                <a target="_blank"
                    href="https://www.youtube.com/@abrilluciacastellanoslopez615"><img
                        class="whatsApp-contacto" src="/assets/image 5.png"></a>

                <a target="_blank" href="https://github.com/Abril1Lucia"><img id="github"
                        src="/assets/image 3.png"></a>
            </figure>
        </section>
    </section>
</footer>