<div class="Fondo">

    <header>
        <app-navbar></app-navbar>


        <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="/assets/Baner.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="/assets/Zorro.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </header>



    <main>


        <section class="firstSection">
            <h2 class="title">★ ¡Bienvenido a mi rincón favorito del cosmos! ★</h2>
            <article class="container">
                <p>
                    Siéntate, relájate y acompáñame en esta aventura literaria. Aquí encontrarás un oasis de
                    tranquilidad donde la amistad, la imaginación y la belleza se dan la mano.
<br>
                    Como muchos de ustedes, me he dejado cautivar por la sabiduría del Principito. Sus palabras han
                    resonado en mi alma y me han inspirado a buscar lo extraordinario en lo cotidiano. En este espacio,
                    quiero compartir contigo mis reflexiones, mis creaciones y mi amor por este pequeño príncipe que ha
                    tocado el corazón de millones.

                </p>
            </article>
        </section>

            <H2 class="TituloChikito">★~| Nuestro equipo (de una sola persona) |~★</H2>

        <section class="cajasHover">
            <p> ★ -Mi nombre es Abril Castellanos, Soy una Princesa estelar.
                <br><br>
                ★ -Y vivo en un planeta de una galaxia lejana y convivo con otras dos princesas.
                <br><br>
                ★ -Soy muy curiosa y creativa.
                <br><br>
                ★ -Y a todas mis aventuras, me acompaña un pequeño Loro muy hablador.
                <br><br>
                ★ -Mis habilidades son mi forma de pensar rapido y mi resolucion de problemas.
            </p>
            <div class="contDescripcion">
                <figure class="box">
                    <img class="mo" src="/assets/Luna.jpg" alt="Alteno imagen e imagen">
                    <article class="capa1">
                        <section class="Moon">
                            <img class="Luna" id="Luna" src="/assets/Real.jpg" alt="">
                        </section>
                    </article>
                </figure>
            </div>
            </section>

</main>



            <footer>

<app-footer></app-footer>
            </footer>