<div class="Fondito">
    <header>
        <app-navbar></app-navbar>
    </header>

    <main>

        <section class="firstSection">
            <h2 class="title">Resumen de "El Principito"</h2>
            <article class="container">
                <p>El Principito narra la historia de un piloto que, mientras intenta reparar su avión averiado en medio
                    del desierto del Sahara, se topa con un pequeño príncipe proveniente del asteroide B 612. Él le pide
                    insistentemente que le dibuje un cordero y que nunca olvida una pregunta.
                    <br>
                    <br>
                    El piloto empezará a descubrir la fascinante historia del principito, que comienza en su asteroide,
                    donde vivía con tres volcanes y se entretenía arrancando las malas hierbas y viendo puestas de sol.
                    Un día, en el suelo del asteroide, nace una flor. El principito la cuida y atiende con dedicación,
                    pero la flor es dramática y caprichosa, y esto le molesta. Entonces, decide abandonar su hogar y
                    emprender un viaje por el universo en busca de un amigo.
                    <br>
                    <br>
                    En la travesía, que llevará al principito a visitar varios asteroides hasta llegar a la Tierra,
                    conocerá a un variado grupo de excéntricos personajes que lo convencen de lo extraño que es el mundo
                    de los adultos, tan ocupados siempre en asuntos serios e importantes, que se olvidan de disfrutar la
                    vida.
                    <br>
                    <br>
                    En la Tierra, entrará en contacto con animales, flores y personas. Será allí donde, antes de
                    encontrar al piloto, conocerá al zorro, quien le revelará la importancia de la amistad y el valor
                    del amor que siente hacia su flor. Será la nostalgia por ella y la decepción que le causa el mundo
                    de los adultos lo que lo motivará a regresar a su planeta.
                </p>
                <img class="clasico" src="/assets/image 2.png" alt="">
            </article>
        </section>


        <section class="firstSection">
            <h2 class="title">Autor</h2>
            <article class="container">
                <img class="clasico" src="/assets/saint_exupery.jpg" alt="">
                <p>La actividad literaria del escritor francés estuvo a la par con su labor como aviador.
                    El 29 de junio de 1900 nació el novelista y aviador francés Antoine de Saint-Exupéry. Desde muy
                    pequeño
                    manifestó interés por la aviación y aprendió el oficio cuando prestó servicio militar.
                    En 1926 publicó su primera novela breve, El aviador, y obtuvo un contrato como piloto para una
                    agencia
                    privada. Se desempeñó como jefe de estación aérea en el Sahara español y en ese período escribió su
                    segunda
                    novela, Correo del Sur (1929). En los años 30 realizó adaptaciones cinematográficas y otras
                    actividades.
                    Viajó a Moscú y a la España sitiada por la guerra, escribió reportajes y artículos para varias
                    revistas.
                    También formó parte de las misiones de la aviación francesa durante la Segunda Guerra Mundial. Luego
                    estuvo
                    en Nueva York cuyas anécdotas las recopiló en Piloto de guerra (1942).
                    El 6 de abril de 1943 apareció su obra cumbre, El Principito, catalogada como una las mejores
                    creaciones
                    literarias del siglo XX. Ha sido traducida a más de 250 idiomas y, recientemente, a la lengua
                    aymara. El
                    31
                    de julio de 1944, el escritor realizaba un vuelo de reconocimiento a bordo de un Lockheed Lightsning
                    P-38 y
                    desapareció en el Mediterráneo. Su cuerpo nunca fue hallado.</p>

            </article>

        </section>


        <section class="firstSection">
            <h2 class="title">Análisis de El Principito</h2>
            <article class="Analisis">
                <p>
                    Lo esencial es invisible a los ojos.
                    <br>
                    <br>
                    Esta frase se la dice el zorro al principito. Significa que el verdadero valor de las cosas se
                    escapa a los ojos, pero no al corazón. Es una reflexión sobre aquellas cosas que, a veces, no somos
                    capaces de ver, pues las observamos con una mirada superficial. No siempre lo más importante es lo
                    evidente. Esta es una constante en el libro, que nos llama a ver más allá de las apariencias.
                    <br>
                    <br>
                    Vea más sobre Lo esencial es invisible a los ojos.
                    <br>
                    <br>
                    Fue el tiempo que pasaste con tu rosa lo que la hizo tan importante.
                    La frase se la dice el zorro al principito. Significa que las relaciones y los afectos se cultivan
                    con el tiempo y eso es lo que las hace valiosas para nosotros. Reflexiona sobre la importancia de
                    dedicar tiempo a las cosas que queremos y sobre la responsabilidad de ser constantes en nuestras
                    relaciones, sean de amistad o de amor. Si tú vienes, por ejemplo, a las cuatro de la tarde, desde
                    las tres comenzaré a ser feliz.
                </p>
                <p>
                    Eres responsable para siempre de lo que has domesticado.
                    <br>
                    <br>
                    La frase se la dice el zorro al principito. Significa que cuando se ha cultivado una relación, de
                    amistad o de amor con otra persona, esto nos convierte en corresponsables del progreso de esa
                    relación. Nos recuerda que cuando “hemos domesticado” una relación con otra persona, nos hemos
                    vuelto muy importantes el uno para el otro, y no podemos abandonarnos.
                    <br>
                    <br>
                    Solo hay que pedir a cada uno lo que cada uno puede dar.
                    <br>
                    <br>
                    Esta frase se la dice el rey al principito. El rey era incapaz de ordenar algo que no pudiera ser
                    cumplido. Decía que para ser obedecido solo se debía mandar aquello que los demás estuvieran
                    dispuestos a hacer. Es una frase que habla sobre la importancia de la bondad en el poder

                </p>

            </article>

        </section>


        <div class="brillitos">
            <img class="Libro" src="/assets/libro.png" alt="">
        </div>
    </main>

</div>
<footer>
    <app-footer></app-footer>
</footer>